extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/cart.css")

block content 
    main 
        if products.length>0 
            ul 
                each p in products 
                    li 
                        p #{p.productId.title} (#{p.quantity})
                        form(action="/cart-delete-item", method="POST")
                            input(type="hidden", name="productId", value = p.productId._id)
                            input(type="hidden", value = csrfToken, name = "_csrf")
                            button(type="submit").btn Delete
            hr
            div.centered
                //- form(action="/create-order", method="post")
                //-     input(type="hidden", value = csrfToken, name = "_csrf")
                //-     button(type="submit").btn Order Now!  
                a(href="/checkout").btn Order Now! 
        else 
            h1 No products in cart!