extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/orders.css")

block content 
    main 
        if orders.length <= 0
            h1 Nothing there!
        else 
            ul.orders 
                each order in orders
                    li.orders_item
                        h1 Order - ##{order._id}
                        ul.orders__products
                            each p in order.products
                                li.orders__products-item #{p.product.title} (#{p.quantity})